table{
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
    padding: 50%;
}
#tabla th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 1px;
}