body{
    background:  url(fondo2.jpg) center center no-repeat;
    background-size: cover;
   
}
table{
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
    padding: 50%;
}
#tabla th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 1px;
}
h1,h3,p{
    text-align: center;
}
h1,h3,p{
    color:black;
}
nav a{
    text-decoration: none;
    border-right: 1px solid black;
    padding-right: 7px;
    color :black;
   
}
nav{
   text-align: right;
   background-color:rgb(128, 215, 218);
   padding: 25px;
   margin: 10px;
}

@media(max-width:768px){
    #tabla{
        overflow-x: auto;
    }
    
    td{
       padding: 0px;
    }
}
p{
    font-size: x-large;
}